.market_name{
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    margin: 25%;
    padding-top: 10px;
    display: grid;
    font-size: 2vw;
}

.menu{
    background-color: #a6aaaf;
    height: -webkit-fill-available;
}

form>h1{
    padding-bottom: 52%;
}

