/*Header*/
.carousel-item{
    float:left;
    overflow:hidden; /* this is important */
    position:relative; /* this is important too */
    height:600px;
}

.carousel-item img{
    position:absolute;
    top:-50px;
}

.p-0{
    padding: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    height: 50px;
    color: black;
    width: 50px;
}

.navbar-brand{
    font-size: 30pt;
    padding-top: 80px;
    margin-right: 40%;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}

.nav-item{
    margin-top: -100px;
    text-decoration: underline;
    text-transform:none;
    padding-left: 20px;
}


@media (max-width: 991.98px) {
    .nav-item{
        margin-top: 0px;
    }
    .prodImg{
        width: 100% !important;
    }
    footer{
        position: static !important;
    }
}

body{
    font-size: 12pt;
    background-color: #f8f9fa;
}
.fa-shopping-cart{
    margin-left: 82%;
    color: rgba(0,0,0,.5);
    margin-bottom: 20px;
}

.cart{
    font-size: 13pt;
    font-weight: bold;
}
/*Header*/


/*Content*/
.content{
    text-align: center;
}

.count{
    width: 55px;
    height: 37px;
    text-align: center
}

.submit{
    text-align: center;
    padding-top: 37px;
}

.btn-danger{
    border-radius: 0px;
}

.itog{
    font-size: 16pt;
    color: red;
}

.block{
    width: 300px;
    font-size: 10pt;
    margin-right: 3%;
    margin-top: 3%;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 500px;
    position: relative;
}

.zak{
    border-color: black;
}

.block a{
    color: black;
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .block{
        width: 520px !important;
    }
}
@media (max-width: 575.98px) {
    .block{
        width: 400px !important;
    }
}

.block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.priceDiv{
    font-size: 14pt;
}

.description{
    white-space: pre-wrap;
}

.under{
    padding-top: 20%;
    color: #989c9e;
    text-align: justify;
}

.page{
    text-align: justify;
    float: right;
    margin-top: 82px;
}

.page button{
    border-color: #b9bcbf;
    margin-left: 8px;
}

div .price{
    font-weight: bold;
}

h3{
    margin-top: 100px;
    margin-bottom: 50px;
}

.prodImg{
    width: 490px;
    float: left;
}

.img{
    width: 122px;
}

hr{
    margin-bottom: 5px;
}

.m-t-50{
    margin-top: 45px;
}

h1.m-t-50{
    margin-bottom: 40px;
}

h4{
    margin-top: 90px;
}

.like{
    font-weight: unset;
    padding-top: 20%;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
}

.add{
    background: white;
    opacity: 0.78;
    height: 40%;
    width: 100%;
    margin-top: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
    position: absolute;
    display: none;
}

.add>button{
    margin-top: 20px;
    border-color: black;
    opacity: 1 !important;
}

/*Content*/


/*Footer*/
footer h5{
    font-size: 12pt;
    font-weight: 600;
    padding-top: 30px;
}

.footer-copyright{
    background: black;
    color: white;
}

footer i{
    margin-right: 13px;
}

footer a{
    color: black;
}

footer a:hover{
    color: #457eb5;
}

footer{
    margin-top: 30px;
}

footer p{
    margin-bottom: 40px;
}

.fa-instagram, .pay{
    padding-left: 15px;
}

/*Footer*/
