/*Форма для авторизации*/
html, body{
    height: 100%;
}

.table-block{
    display: table;
    height: 100vh;
}

.table-cell-block{
    display: table-cell !important;
    vertical-align: middle;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.col-md-offset-4{
    margin: 0 auto;
}
/*Форма для авторизации*/

/*Админ панель*/
.market_name{
    text-transform: uppercase;
    margin: 25%;
    display: grid;
    font-size: 150%;
    text-align: -webkit-center;
}

.menu{
    background: #bbbaba;
}
td>img{
    height: 150px;
}
form{
    margin-bottom: 40px;
}

h1{
    padding-bottom: 100px;
    padding-top: 20px;
}

.button{
    padding-bottom: 30px;
}

@media (max-width: 1340px) {
    .market_name{
        margin: 0 auto;
    }
}

td>.btn,td>a>.btn{
    margin-top: 30%;
}

.btn>a{
    color:black;
}

nav{
    background: #bbbaba;
    padding: 15px 10px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}
nav > ul {
    padding: 0;
}
nav li{
    display: -webkit-box;
}

nav a:hover{
    border: 1px solid #fff;
}

input.menuBut {
    display: none;
}
nav label {
    display: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
}
nav label:hover{
    color: #f00;
    border: 1px solid #f00;
}

textarea{
    white-space: nowrap;
}

@media screen and (max-width: 995px), (max-width: 767.98px), (max-width: 575.98px) {

    nav label{
        display: inline-block;
    }
    nav > ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }
}

.imgAdmin{
    height: 150px;
    margin: 13px;
}

.form-group{
    padding-top: 20px;
}

.change{
    float: right;
    margin-top: 10%;
    margin-bottom: 5%;
}

.delButton{
    height: 15px;
    margin-top: -145px;
    margin-left: -20px;

}
/*Админ панель*/
